<!DOCTYPE html>
<HTML>
    <head>
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"/>
        <title>Receipt Manager</title>
    </head>
    <body class="col-9 mx-auto">
        <!-- Banner -->
        <header class="container border border-dark mx-auto my-3">
            <div class="row align-items-center bg-primary">
                <h1 class="text-center text-white my-2">Receipt Manager</h1>
            </div>
            <div class="row bg-light">
                <div>
                    <ul class="nav justify-content-end">
                        <li class="mx-2"><a href="{% url 'welcome' %}">Welcome</a></li>
                        <li class="mx-2"><a href="{% url 'receipt-list' %}">Receipt List</a></li>
                        <li class="mx-2"><a href="{% url 'receipt-totals' %}">Totals</a></li>
                        <li class="mx-2"><a href="{% url 'receipt-create' %}">Create a receipt</a></li>
                    </ul>
                </div>
            </div>
        </header>
        <div>
           {% block content %} {% endblock %}
        </div>

    </body>
</html>
