{% extends 'receiptapp/base.html' %}

{% block content %}

<h2>Receipts List</h2>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Title</th>
                <th>Amount</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for receipt in receipts %}
            <tr>
                <td>
                    <a href="{% url 'receipt-detail' receipt.id %}">{{ receipt.date }}</a>
                </td>
                <td>{{ receipt.title }}</td>
                <td>{{ receipt.amount }}</td>
                <td>
                    <a href="{% url 'receipt-update' receipt.id %}" class="btn btn-primary btn-sm">
                        Modify
                    </a>
                </td>
                <td>
                    <a href="{% url 'receipt-delete' receipt.id %}" class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}